# ───── Python bytecode and build artifacts ─────
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
wheels/

# ───── Virtual environments ─────
**/.venv/
**/venv/

# ───── Environment files (all levels) ─────
**/.env
.env
**/.env/
**/*.env/

# ───── RSA or secret keys (recursively) ─────
**/keys/
**/.venv/
**/*.pem
**/main.env/
./Auth-Service/auth_service/keys/
./Bank-Service/bank_service/keys/
