# Django Auth Service Config
DJANGO_SECRET_KEY=super_secret_auth_key
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=*

SECRET_KEY="django-insecure-u5_l#!qk0n7yuj$t!21uu9$v=3(s^u=y11xr1p5^069i19%k"

# Database URL (Auth DB)
#container
DATABASE_URL=postgres://micro_user:PASSWORD@db:5432/simple_microservice_db

#localhost
DATABASE_URL=postgres://micro_user:PASSWORD@localhost:3232/simple_microservice_db

